@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
/* 파일 분할
reset.css로 브라우저 기본값 싹 다 초기화 시켜놓고 새로 만드는 게 좋음*/

body {
  font-family: "Open Sans", sans-serif;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 글자 중앙정렬은 text-align: center로 하면 됨 */

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
/* width로 양옆을 제한, <br>로 조절해도 되지 않나?
회색 글자는 색깔로 해도 되고 투명도 조절로 해도 되고 */
