.alt-header {
  position: sticky;
  top: 26px;
  background-color: white;
  padding: 15px var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.alt-header__title {
  font-size: 24px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}

.alt-header__column {
  width: 33%;
}
/* margin: auto는 중앙정렬을 위함
   완벽한 중앙정렬을 위해 width: 33% 후 조정 */
