.status-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
/*
position이랑 top이랑 width 조정해주면 위에 고정됨
position만 적용했을 때 무너진 이유는 width 조정을 안 해줘서인 듯
*/

.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.fa-battery-full {
  margin: 0 5px;
}
