.status-bar {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
/* 뒷배경 하얀색으로 해서 진짜 상태바처럼 수정 */

.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.fa-battery-full {
  margin: 0 5px;
}
