.status-bar {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  z-index: 1;
}
/* z-index: 정수 통해 레이어 상 가장 위에 올 것 선택 가능!
   opacity 설정 시 레이어 맨 앞으로 오는 문제 해결*/

.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.fa-battery-full {
  margin: 0 5px;
}
